/* Base styles for the webpage */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("https://picsum.photos/1920/1080?random=1");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100vw; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* espace a gauche et a droite */
  /* text-align: center; */
  align-items: center;
  color: white;
  display: flex;
  padding: 50px;
}

p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding-bottom: 1rem;
}

a {
}

a:hover {
  color: aquamarine;
  transition: all 0.3s ease-in-out;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

li {
  text-decoration: none;
}

nav {
  background-color: grey;
  padding: 1rem;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px chartreuse dotted;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  font-size: 1.8rem;
  color: white;
}

section {
  background-color: burlywood;
  padding: 50px;
  margin-top: 100px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem;

  /* width: 100vw; */
}

header,
footer {
  background-color: grey;
  color: blue;
  margin-top: 2.8rem;
}

header h1,
footer p {
  justify-content: center;
  display: flex;
  color: white;
}

.container {
  /* background-color: burlywood; */
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  gap: 4rem;
  min-width: 100%;
}

.card > .container-img {
  border-radius: 10px;
  
}

.card > .container-img img {
  width: 100%;
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: brown;
  border-radius: 10px;
  width: 300px;
}

.card:hover {
}

form {
}

label {
}

input {
}

button {
}

button:hover {
}
